body {
    /*background-image: url('');
    background-color: #0c4c7c;*/
    background-image: linear-gradient(to bottom right, #0c4c7c, #9eceee);
    font-family: 'Montserrat';
    font-size: 16px;
}

#content {
    padding-top: 5px;
}

div {
    background-color: white;
    text-align: 15px;
    box-sizing: border-box;
    border-radius: 45px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-top: 5px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#qualificacao {
    font-size: medium;
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

button {
    width: 20%;
    white-space: normal;
}

#botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#about {
    -moz-box-align: center;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.btn-gitHub {
    background-color: #495057;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}